<h1>Albums for {{whatUserRequested}}</h1>
<div>
  {{#each theInfo}}
  <h1>{{this.name}}  </h1>
  <img src="{{this.images.[0].url}}" alt="album">
  <a href="/album/{{this.id}}">Check out the album</a>
  {{/each}}
</div>