<div class="home-container">
  <div class="home-form-wrapper">
    <form action="/artists" method="GET">
      <input type="text" name="artistName" placeholder="Search for the Artist!" class="home-input">
      <input type="submit" value="Search for an artist" class="home-button">
    </form>
  </div>
</div>